@media(max-width: 1440px){
	.outsour-1{
		max-width: 200px;
    	width: 100%;
	}
	.outsour-2{
		max-width: 200px;
    	width: 100%;
	}
	.outsour-3{
		max-width: 200px;
    	width: 100%;
	}
	.outsour-4{
		max-width: 200px;
    	width: 100%;
	}
	.outsour-5{
		max-width: 200px;
    	width: 100%;
	}
	.outsour-6{
		max-width: 200px;
    	width: 100%;
	}
	.outsour-1 img{
		max-width: 200px;
    	width: 100%;
	}
	.outsour-2 img{
		max-width: 200px;
    	width: 100%;
	}
	.outsour-3 img{
		max-width: 200px;
    	width: 100%;
	}
	.outsour-4 img{
		max-width: 200px;
    	width: 100%;
	}
	.outsour-5 img{
		max-width: 200px;
    	width: 100%;
	}
	.outsour-6 img{
		max-width: 200px;
    	width: 100%;
	}
}
@media(max-width: 768px){
	.poddon{
		background: none;
	}
	.products{
		background: none;
	}
	.services{
		background: none;
	}
	.all-products{
		margin-left: 36px;
	}
	.all-products-2{
		margin-left: 36px;
	}
	.all-products-3{
		margin-left: 36px;
	}
	.products-3_1{
		margin-left: 52px;
	}
	.products-3_2{
		margin-left: 52px;
	}
	.products-3_3{
		margin-left: 52px;
	}
}
@media(max-width: 1226px){
	.info{
		background: url(../img/call_bg.png) -270px 0px no-repeat;
	}
}
@media(max-width: 1210px){
	.info p{
		margin-left: 0;
	}
	.outsour-1{
		max-width: 150px;
    	width: 100%;
	}
	.outsour-2{
		max-width: 150px;
    	width: 100%;
	}
	.outsour-3{
		max-width: 150px;
    	width: 100%;
	}
	.outsour-4{
		max-width: 150px;
    	width: 100%;
	}
	.outsour-5{
		max-width: 150px;
    	width: 100%;
	}
	.outsour-6{
		max-width: 150px;
    	width: 100%;
	}
	.outsour-1 img{
		max-width: 150px;
    	width: 100%;
	}
	.outsour-2 img{
		max-width: 150px;
    	width: 100%;
	}
	.outsour-3 img{
		max-width: 150px;
    	width: 100%;
	}
	.outsour-4 img{
		max-width: 150px;
    	width: 100%;
	}
	.outsour-5 img{
		max-width: 150px;
    	width: 100%;
	}
	.outsour-6 img{
		max-width: 150px;
    	width: 100%;
	}
}
@media(max-width: 1260px){
	.right{
		margin-top: 100px;
	}
}
@media(max-width: 600px){
	.otpravit{
    	background: #ffa000;
    	margin-left: 23px;
	}
	.benefits{
		margin-top: 240px;
	}
}
@media(max-width: 585px){
	.left span{
		font-size: 34px;
	}
	.left p{
		font-size: 34px;
	}
}
@media(max-width: 571px){
	.otpravit form{
		display: flex;
		flex-wrap: wrap;
    	justify-content: center;
    	width: 100%;
    	margin-left: 0px;
	}
	.otpravit-2 form{
		display: flex;
		flex-wrap: wrap;
    	justify-content: center;
    	width: 100%;
    	margin-left: 0px;
	}
	.my-button3{
		margin-right: 14px;
	}
	.my-button5{
		margin-right: 14px;
	}
}
@media(max-width: 500px){
	.info-2 p{
		padding-top: 30px;
	}
	.otpravit-2 form{
		margin-top: -30px;
	}
	.social{
		margin-left: 190px;
	}	
}
@media(max-width: 475px){
	.services-2{
		margin-bottom: 12px;
	}
	.menu{
		flex-wrap: wrap;
	}
}
@media(max-width: 473px){
	.outsour-1{
		max-width: 110px;
    	width: 100%;
	}
	.outsour-2{
		max-width: 110px;
    	width: 100%;
	}
	.outsour-3{
		max-width: 110px;
    	width: 100%;
	}
	.outsour-4{
		max-width: 110px;
    	width: 100%;
	}
	.outsour-5{
		max-width: 110px;
    	width: 100%;
	}
	.outsour-6{
		max-width: 110px;
    	width: 100%;
	}
	.outsour-1 img{
		max-width: 110px;
    	width: 100%;
	}
	.outsour-2 img{
		max-width: 110px;
    	width: 100%;
	}
	.outsour-3 img{
		max-width: 110px;
    	width: 100%;
	}
	.outsour-4 img{
		max-width: 110px;
    	width: 100%;
	}
	.outsour-5 img{
		max-width: 110px;
    	width: 100%;
	}
	.outsour-6 img{
		max-width: 110px;
    	width: 100%;
	}
}
@media(max-width: 386px){
	.adres a{
		font-size: 12px;
	}
	.img_img img{
		left: -142px;
	}
	.img_img-2 img{
		left: -94px;
	}
}
@media(max-width: 354px){
	.outsour-1{
		max-width: 85px;
    	width: 100%;
	}
	.outsour-2{
		max-width: 85px;
    	width: 100%;
	}
	.outsour-3{
		max-width: 85px;
    	width: 100%;
	}
	.outsour-4{
		max-width: 85px;
    	width: 100%;
	}
	.outsour-5{
		max-width: 85px;
    	width: 100%;
	}
	.outsour-6{
		max-width: 85px;
    	width: 100%;
	}
	.outsour-1 img{
		max-width: 85px;
    	width: 100%;
	}
	.outsour-2 img{
		max-width: 85px;
    	width: 100%;
	}
	.outsour-3 img{
		max-width: 85px;
    	width: 100%;
	}
	.outsour-4 img{
		max-width: 85px;
    	width: 100%;
	}
	.outsour-5 img{
		max-width: 85px;
    	width: 100%;
	}
	.outsour-6 img{
		max-width: 85px;
    	width: 100%;
	}
}
@media(max-width: 312px){
	.adres p{
		font-size: 13px;
	}
	.adres a{
		font-size: 10px;
	}
	.img_img img{
		left: -115px;
	}
	.img_img-2 img{
		left: -75px;
	}
}