@keyframes anim{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
body{
	padding: 300px;
}
.div{
	animation:anim 4s 30 0s;
  	width: 200px;
  	height: 200px;
  	border:2px solid red;
  	border-radius: 100%;
  	position: relative;
}
.class1{
	width: 1px;
    height: 200px;
    position: absolute;
    left: 100px;
    top: 100px;
    transform: rotate(360deg);
}
.class2{
	width: 50px;
	height: 50px;
	border:2px solid red;
	border-radius: 100%;
	background-color: pink;
	position: absolute;
    top: 170px;
    left: -25px;
}